<a href="https://colab.research.google.com/github/2303A52153/AIML_2025/blob/main/AIML_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays

In [ ]:
import numpy as np
lst1=[1, 2, 3]
array1=np.array(lst1)
array1

array([1, 2, 3])

creating array 2

In [ ]:
import numpy as np
lst2=[3,2,1]
array2=np.array(lst2)
array2

array([3, 2, 1])

Identify their type using type()

In [ ]:
type(lst1)
type(lst2)

list

In [ ]:
type(array1)
type(array2)

numpy.ndarray

Perform mathematical operations on these datasets created - multiplication, division, poweroff

In [ ]:
print("multiplication of array1 and array2: ",array1*array2)
print("Division of array2 and array1: ",array2/array1)
print("exponential of array2 and array1: ",array2**array1)

multiplication of array1 and array2:  [3 4 3]
Division of array2 and array1:  [3.         1.         0.33333333]
exponential of array2 and array1:  [3 4 1]

implement np.sin(), log(), log2(), np.exp())

In [ ]:
print("sin value: ",np.sin(array1))
print("Sin value: ",np.sin(array2))

sin value:  [0.84147098 0.90929743 0.14112001]
Sin value:  [0.14112001 0.90929743 0.84147098]

In [ ]:
print("logariarithm base 10 :",np.log10(array1))
print("logarithim value: ",np.log(array1))
print("Base2 logarithm: ",np.log2(array1))
print("exponential :",np.exp(array1))

logariarithm base 10 : [0.         0.30103    0.47712125]
logarithim value:  [0.         0.69314718 1.09861229]
Base2 logarithm:  [0.        1.        1.5849625]
exponential : [ 2.71828183  7.3890561  20.08553692]

Combine text with Numpy fuction to generate a textual output - ”Addition of Two: array1 +array 2

In [ ]:
print("Additon two numpy arrays [array1] and [array2] to gether ",array1+array2)

Additon two numpy arrays [array1] and [array2] to gether  [4 4 4]


Part 2 – Visualization of Data using matplotlib, pyplots Packages[CO2]
1. Generate a Data set for Health Care using the following:
people = [’kiran’, arun’, ’vijay’, ’varun’]
age =[25, 30, 35, 40, 45]
height =[145, 151, 165, 173]
weight=[45, 55, 65, 75]
2. Using the generated dataset given above. Generate the following graphs and justify the
relationships among the vectors.
3. Scatter Plot
4. Bar Chart
5. Histogram
6. Provide Graph Title, labels for X, Y axis with proper justification and explanation of
the graph.
1

creating a data set age(in years) and weight(in kilograms),height (in centimeters)

In [ ]:
people = [’kiran’, arun’, ’vijay’, ’varun’]
age = [25,30,35,40,45]
height=[145,151,165,173]
weight=[45,55,65,75]

In [ ]:
import mathplotlib.pyplot as plt

In [ ]:
plt.scatter(weight,height)
plt.title(relation ship between height and weight in patients")