<a href="https://colab.research.google.com/github/2303A52153/AIML_2025/blob/main/sml_lab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.datasets import load_iris
# Load the Iris dataset
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
# Add target variable to the DataFrame
df['target'] = iris.target
# Identify features and target
features = df.drop('target', axis=1)
target = df['target']
# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
features_normalized = scaler.fit_transform(features)
features_normalized_df = pd.DataFrame(features_normalized, columns=features.columns)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(features_normalized_df, target, test_size=0.2, random_state=42)
# Display the first few rows of each dataset
print("Training Features:\n", X_train.head())
print("\nTesting Features:\n", X_test.head())
print("\nTraining Target:\n", y_train.head())
print("\nTesting Target:\n", y_test.head())

Training Features:
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
22           0.083333          0.666667           0.000000          0.041667
15           0.388889          1.000000           0.084746          0.125000
65           0.666667          0.458333           0.576271          0.541667
11           0.138889          0.583333           0.101695          0.041667
42           0.027778          0.500000           0.050847          0.041667

Testing Features:
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
73            0.500000          0.333333           0.627119          0.458333
18            0.388889          0.750000           0.118644          0.083333
118           0.944444          0.250000           1.000000          0.916667
78            0.472222          0.375000           0.593220          0.583333
76            0.694444          0.333333           0.644068          0.541667

Training Target:
 22    0
15    0
65    1
11    0
42    0
Name: target, dtype: int64

Testing Target:
 73     1
18     0
118    2
78     1
76     1
Name: target, dtype: int64

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
d = pd.read_csv('/content/sample_data/california_housing_train.csv')
print(d)
d.describe()
d.dtypes
d.shape
y = d['median_house_value']
print(y)
x = d.drop('median_house_value',axis=1)
print(x)
d.isnull().sum()
d.fillna(0, inplace=True)
df = x-x.min()/x.max()-x.min()
print(df)
X_train, X_test, y_train, y_test = train_test_split (df,y,test_size=0.2,random_state=60)
print(X_train)
print(X_test)
print(y_train)
print(y_test)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]
0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0       8.952169  0.874315           13.980769  5609.999947     1281.999845
1       8.792169  1.084315           17.980769  7647.999947     1899.999845
2       8.702169  0.374315           15.980769   717.999947      172.999845
3       8.692169  0.324315           12.980769  1498.999947      335.999845
4       8.692169  0.254315           18.980769  1451.999947      324.999845
...          ...       ...                 ...          ...             ...
16995  -0.997831  7.264315           50.980769  2214.999947      392.999845
16996  -1.007831  7.374315           34.980769  2346.999947      526.999845
16997  -1.037831  8.524315           15.980769  2674.999947      529.999845
16998  -1.037831  8.484315           17.980769  2669.999947      550.999845
16999  -1.087831  7.224315           50.980769  1817.999947      298.999845

        population  households  median_income
0      1011.999916  470.999836       0.960374
1      1125.999916  461.999836       1.286774
2       329.999916  115.999836       1.117674
3       511.999916  224.999836       2.658474
4       620.999916  260.999836       1.391774
...            ...         ...            ...
16995   903.999916  367.999836       1.823874
16996  1190.999916  463.999836       1.984674
16997  1240.999916  454.999836       2.498074
16998  1294.999916  476.999836       1.446474
16999   802.999916  268.999836       2.481474

[17000 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
11892   1.902169  5.324315           22.980769  6537.999947     1006.999845
11932   1.892169  5.324315           25.980769  1669.999947      297.999845
5300    5.122169  0.544315           34.980769  1771.999947      346.999845
949     6.172169 -0.525685           34.980769  1526.999947      264.999845
699     6.212169 -0.345685           15.980769  9908.999947     1434.999845
...          ...       ...                 ...          ...             ...
10339   3.162169  5.594315           31.980769  1558.999947      280.999845
6543    4.992169  0.464315           19.980769  3351.999947     1172.999845
11846   1.922169  5.264315           16.980769  1628.999947      226.999845
3137    5.432169  0.514315           21.980769  2772.999947      545.999845
2253    5.852169  0.644315           30.980769  2834.999947      615.999845

        population   households  median_income
11892  2663.999916  1029.999836       5.029974
11932   753.999916   280.999836       3.145374
5300    930.999916   331.999836       4.323874
949     679.999916   258.999836       3.564974
699    4759.999916  1412.999836       5.054974
...            ...          ...            ...
10339    26.999916     9.999836       1.341774
6543   4422.999916  1108.999836       1.992974
11846   595.999916   226.999836       7.269874
3137   1222.999916   508.999836       3.137474
2253   1389.999916   593.999836       1.846574

[13600 rows x 8 columns]
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
3520    5.362169  0.424315           22.980769  1432.999947      492.999845
13269   1.352169  3.924315           22.980769  5043.999947      999.999845
14783   1.062169  4.434315           34.980769   603.999947      130.999845
5700    5.072169  1.334315           31.980769  1778.999947      324.999845
7662    4.892169  0.584315           30.980769   329.999947      101.999845
...          ...       ...                 ...          ...             ...
2521    5.622169  0.794315           14.980769  2126.999947      418.999845
7269    4.922169  0.764315           50.980769  1427.999947      184.999845
357     6.352169 -0.445685           12.980769  3045.999947      595.999845
7745    4.882169  0.564315           31.980769  1310.999947      242.999845
3762    5.332169  0.354315           25.980769  3509.999947      470.999845

        population  households  median_income
3520   3167.999916  502.999836       2.550074
13269  2445.999916  966.999836       4.178574
14783   527.999916  131.999836       1.047674
5700    909.999916  312.999836       3.463074
7662    173.999916  100.999836       2.807674
...            ...         ...            ...
2521    928.999916  377.999836       2.053574
7269    543.999916  176.999836       9.832874
357    1686.999916  574.999836       3.848574
7745    557.999916  215.999836       4.766674
3762   1387.999916  479.999836       7.566874

[3400 rows x 8 columns]
11892    175200.0
11932    159700.0
5300     203300.0
949      171200.0
699      194300.0
           ...
10339    500001.0
6543     167300.0
11846    267200.0
3137     231400.0
2253     118800.0
Name: median_house_value, Length: 13600, dtype: float64
3520     151700.0
13269    274600.0
14783     70000.0
5700     126800.0
7662     256300.0
           ...
2521     146900.0
7269     500001.0
357      147100.0
7745     359400.0
3762     336500.0
Name: median_house_value, Length: 3400, dtype: float64